/* src/assets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 1px solid green; */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
  border: none;
}

#app {
  margin: 0 auto;
  text-align: center;
}
